<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${message}">>公交到站</title>
    <!-- 引入Bootstrap CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-margin {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<!-- 页面内容将放置在这里 -->
<div class="custom-container">
    <div class="card card-margin" th:each="data : ${results}">
        <div class="card-header">
            <span th:text="${data.dispatchCarSchedule.lineName}"></span>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="col-4 text-start">到站时间：</label>
                <div class="col-8 text-start">
                    <span th:text="${data.stopArriveInfo.currentBusArriveTime == null ? '-' : data.stopArriveInfo.currentBusArriveTime}"></span>&nbsp;分钟
                </div>
            </div>
            <div class="row">
                <label class="col-4 text-start">到站距离：</label>
                <div class="col-8 text-start">
                    <span th:text="${data.stopArriveInfo.currentBusDistance == null ? '-' : data.stopArriveInfo.currentBusDistance}"></span>
                </div>
            </div>
            <div class="row">
                <label class="col-4 text-start">发车时间：</label>
                <div class="col-8 text-start">
                    <span th:text="${data.dispatchCarSchedule.scheduleMsg}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>