<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${message}"></title>
    <!-- 引入Bootstrap CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card-margin {
            margin-top: 10px;
        }

        .button-style {
            padding: 10px 0;
            margin-right: 10px;
            display: flex;
            justify-content: end;
            gap: 10px;
            width: 100%;
        }

        .ip-style {
            padding: 10px 0;
            display: flex;
            justify-content: end;
        }
    </style>
</head>
<body>
<!-- 页面内容将放置在这里 -->
<div class="custom-container">
    <div class="button-style">
        <button
                type="button"
                class="btn btn-outline-primary"
                data-bs-toggle="collapse"
                data-bs-target="#collapseExample"
                aria-expanded="true"
                aria-controls="collapseExample"
        >
            更多信息
        </button>
        <button id="refreshButton" type="button" class="btn btn-success">刷新</button>
    </div>
    <div class="card card-margin" th:each="data : ${results}">
        <div class="card-header">
            <span th:text="${data.dispatchCarSchedule.lineName}"></span>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="col-4 text-start">到站时间：</label>
                <div class="col-8 text-start">
                    <span th:text="${data.stopArriveInfo.currentBusArriveTime == null ? '-' : data.stopArriveInfo.currentBusArriveTime}"></span>&nbsp;分钟
                </div>
            </div>
            <div class="row">
                <label class="col-4 text-start">到站距离：</label>
                <div class="col-8 text-start">
                    <span th:text="${data.stopArriveInfo.currentBusDistance}"></span>
                </div>
            </div>
            <div class="row">
                <label class="col-4 text-start">剩余站数：</label>
                <div class="col-8 text-start">
                    <span th:text="${data.stopArriveInfo.currentBusStopCount == null ? '-' : data.stopArriveInfo.currentBusStopCount}"></span>&nbsp;站
                </div>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="text-success botom-padding">
                    <hr/>
                </div>
                <div class="row">
                    <label class="col-4 text-start">次班时间：</label>
                    <div class="col-8 text-start">
                        <span th:text="${data.stopArriveInfo.nextBusArriveTime == null ? '-' : data.stopArriveInfo.nextBusArriveTime}"></span>&nbsp;分钟
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 text-start">次班距离：</label>
                    <div class="col-8 text-start">
                        <span th:text="${data.stopArriveInfo.nextBusDistance}"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-4 text-start">次班站数：</label>
                    <div class="col-8 text-start">
                        <span th:text="${data.stopArriveInfo.nextBusStopCount == null ? '-' : data.stopArriveInfo.nextBusStopCount}"></span>&nbsp;站
                    </div>
                </div>
                <div class="text-success botom-padding">
                    <hr/>
                </div>
                <div class="row">
                    <label class="col-4 text-start">发车时间：</label>
                    <div class="col-8 text-start">
                        <span th:text="${data.dispatchCarSchedule.scheduleMsg}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ip-style">
        <div class="toast align-items-center fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    IP: <span th:text="${realIp}"></span>&nbsp;&nbsp;&nbsp;&nbsp;位置: <span
                        th:text="${realIp2Local}"></span>
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // 确保DOM完全加载后执行
        document.getElementById('refreshButton').addEventListener('click', function () {
            window.location.reload();
        });
    });
</script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>